@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
    background-image: url("http://fc05.deviantart.net/fs71/i/2013/154/e/6/lineart_homo_sapiens_by_uganugraha-d67r46g.png");
    background-repeat: no-repeat;
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 25px;
    position: fixed;
    width: 50%;
}

.row {
    width: 40%;
}

form {
    width: 10%;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 3px 0 #cfcfcf;
    /*opacity: .9;*/
}

.login-countainer {
    padding: 25px;
    position: fixed;
    width: 25%;
}

#whack{
    font-size: 3em;
    color:blue;
    margin-top: 1%;
    margin-left: 2%;
}

h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.loginhead {
    text-decoration: none;
    color:blue;
}

.loginhead:visited {
    text-decoration: none;
    color: blue;
}

.loginhead:hover {
    text-decoration: none;
    color: blue;
}

.loginhead:active {
    text-decoration: none;
    color: blue;
}

.header {
    height:10%;
    width:100%;
}

#logout {
    float:right;
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color:blue;
    font-size:2em;
    margin-right: 2%;
    margin-bottom: 1%;
}

#create {
    float:right;
    text-decoration: none;
    color:blue;
    font-size: 2em;
    margin-right: 2%;
    margin-top: 2%;
}

.table {
    width: 100%;
}

.header #whack {
    margin-top: 1%;
    margin-left: 2%;

}

.delete-button {
    display: inline-block;
    padding-left: 3%;
}

.allsurveys {
    color:black;
}

a {
    color:blue;
    text-decoration: none;
}

.surveys {
    font-size: 1.5em;
    font-weight: bold;
}

.gravatar {
    display:inline-block;
}

.survey-links {
    font-size: 1.5em;
    font-weight: bold;
}

.create-survey-form {
    margin-left: 3%;
}

.create-survey-head{
    margin-left: 3%;
    color:black;
}

.error{
    margin-left: 3%;
    color: red;
}
