<h1 class="create-survey-head">Create a Survey!</h1>

<form class="create-survey-form" action="/surveys" method="post">
  <a class="add_question" href="/">add another question</a>
  <br>
  <a class="remove_question" href="/">remove question</a>
  <br><br>
    <!-- <%survey = {}%> -->
  <input class="survey_name" type="text" name="title" placeholder="Survey name"> <input type="submit" value="Submit">

  <ul class="question_list">
    <li><input class = "question" type="text" name="questions[]" placeholder= "type question here"></li>
    <li><input class = "question" type="text" name="questions[]" placeholder= "type question here"></li>
    <li><input class = "question" type="text" name="questions[]" placeholder= "type question here"></li>
    <li><input class = "question" type="text" name="questions[]" placeholder= "type question here"></li>
    <li><input class = "question" type="text" name="questions[]" placeholder= "type question here"></li>
  </ul>

<!--   <a class="remove_question" href="/">remove question</a>
  <br>
  <a class="add_question" href="/">add another question</a>
  <br>
  <br> -->
<!--   <input type="submit" value="Submit"> -->
</form>
