<h1>Create a Survey!</h1>

<form action="/surveys" method="post">
  <!-- <%survey = {}%> -->
  <input type="text" name="title" placeholder="Survey name">
  <br>
  <br>
  <input type="text" name="questions[]" placeholder= "type question here">
  <input type="text" name="questions[]" placeholder= "type question here">
  <input type="text" name="questions[]" placeholder= "type question here">
  <input type="text" name="questions[]" placeholder= "type question here">
  <input type="text" name="questions[]" placeholder= "type question here">


  <br><br>
  <a href="/">remove question</a>
  <br>
  <a href="/">add another question</a>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
