<h1>Create a Survey!</h1>

<form action="/surveys" method="post">
  <%survey = {}%>
  <input type="text" name="<%=survey[:title]%>" placeholder="Survey name">
  <br>
  <br>
  <%questions = []%>
  <%5.times do |index|%>
    <input type="text"
      name=<%="questions[#{index}]"%>
      placeholder= '<%="Question #{index + 1}"%>'>
    <br>
    <br>
  <%end%>
  <a href="/">add another question</a>
</form>
