<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class= "header">
    <% if current_user %>
      <table class="table">
        <tr>
          <td>
            <h1 id="whack"><a class="loginhead" href="/">Survey Sapien</a></h1>
          </td>
            <td>
              <a id="logout" href="/logout">Logout</a>
              <a id="create" href="/surveys/new">Create Survey</a>
            </td>
        </tr>
      </table>
    <% else %>
      <h1 id="whack">SurveySapien</h1>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
