<div class="container">
  <h1><%= @user.username%>'s Profile</h1>
  <ul>
    <% @user.surveys.each do |survey| %>
    <li>
      <a href="/surveys/<%=survey.id%>"><%=survey.title%></a>
      <% if survey.user_id == current_user.id %>
        <form class="delete-button" action="/surveys/<%= survey.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete!">
        </form>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
